snippet tm "timeout"
setTimeout(() => {
	$1
}, ${2:1000});
endsnippet

snippet ccc "console.log"
console.log('%c custom log', 'color:red;', ${1});
endsnippet	

snippet tc "try/catch block"
try {
	$1
} catch (e) {
	$2
}
endsnippet
